.card {
    max-width: 700px;
    text-align: center;
}

h1 {
    color: #22c55e;
}

#correct {
    color: green;
    font-size: 20px;
}

#incorrect {
    color: red;
    font-size: 20px;
}

#score {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}

h3 {
    margin-top: 25px;
    color: #444;
}

p {
    background: #f6f6f6;
    padding: 10px;
    border-radius: 6px;
}
#retake {
    margin-top: 20px;
    background: #4f46e5;
}

#retake:hover {
    background: #4338ca;
}
